*{
margin:0%;
padding:0%;
box-sizing:border-box;
}   

h1{

    margin-bottom: 15px;
    
}

p{
    margin-bottom: 50px;
    
}

html, body{
justify-content:center;
/*text-align: center;*/
}

div{
background-color:  white;
justify-content:center;
padding-left: 30%;
margin-top:20px;
padding-top: 100px;
align-content: center;
}

input{

    padding: 3%  ;
    width: 500px ;
    border: 100px;
    border-radius: 10px;
    border: solid 1px lightgray;
    
}


button{

    padding: 3%  ;
    width: 500px ;
    border: 100px;
    border-radius: 4px;
    margin-top: 2%;
    background-color: lightgrey ;
    color: lightslategray;
}

